body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Manrope', sans-serif;
    background-color: hsl(218, 23%, 16%);
    color:white;
}

p{
    font-size: 28px;  
    text-align: center;
    color:hsl(193, 38%, 86%);
    margin:30px auto;
}

.vertical{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin:auto;
}

.card{
    background-color: hsl(217, 19%, 24%);
    padding:30px;
    width:70%;
    margin:auto;
    border-radius: 15px;
}

.card-title{
    color:hsl(150, 100%, 66%);
    font-weight: normal;
    font-size: 10px;
    text-transform: uppercase;
    margin:auto;
    letter-spacing: 3px;
}

.circle{
    margin:auto;
    border-radius: 100%;
    background-color: hsl(150, 100%, 66%);
    width:44px;
    height:44px;
    position: relative;
    top:52px;
}

.circle:hover{
    box-shadow: 0 0 35px hsl(150, 100%, 66%);
    transform: scale(1.1, 1.1);
}

.dice{
    display: block;
    margin:13px;
    width:18px;
}

.mobile{
        display: none;
}

@media (max-width:512px){
    .card{
        width:100%;
        margin:auto;
    }
    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }
}

